<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container" style="margin-top: 20px;">
      <h2>책 등록</h2>
      <form id="book-form">
        <div class="form-group">
          <label for="title">책 이름</label>
          <input type="text" class="form-control" id="title" name="title" required/>
        </div>
        <div class="form-group">
          <label for="author">저자</label>
          <input type="text" class="form-control" id="author" name="author" required/>
        </div>
        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input type="text" class="form-control" id="isbn" name="isbn" required/>
        </div>
        <div class="form-group">
          <label for="published">출판일자</label>
          <input type="text" class="form-control" id="published" name="publishedAt" placeholder="YYYY-MM-DD" required/>
        </div>
        <div class="form-group">
          <label for="image">이미지 링크</label>
          <input type="text" class="form-control" id="image" name="imageUrl" required/>
        </div>
        <div class="form-group">
          <label for="tags">태그</label>
          <input type="text" class="form-control" id="tags" name="tags"/>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
      </form>

      <h3>등록된 태그들</h3>
      <% for(var tag in tags.list) { %>
        <span class="badge badge-secondary" style="display: inline; margin-right: 5px;"><%= tags.list[tag] %></span>  
      <% } %>
  </div>
  
</body>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
  $("#book-form").submit(function(e) {
    e.preventDefault();
    var Data = {};
    var formData = $("#book-form").serializeArray();
    for(var d in formData)
    {
      if(formData[d].name === "tags")
      {
        Data[formData[d].name] = formData[d].value.trim().split(",");
      }
      else 
      {
        Data[formData[d].name] = formData[d].value;
      }
    }
    console.log(Data);
    $.ajax({
      type: "POST",
      url: "/api/books/upload",
      data: JSON.stringify(Data),
      success: function() {},
      dataType: "json",
      contentType: "application/json" 
    });
  })
</script>

</html>
